body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: auto;
}

header {
    background: #50b3a2;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.area {
    background: #ffffff;
    margin: 2em 0;
    padding: 1em;
    border: #bbbbbb 1px solid;
    border-radius: 5px;
}

.satellite {
    margin-top: 1em;
}

h1, h2, h3 {
    color: #333333;
}

img {
    max-width: 100%;
    height: auto;
    border: #bbbbbb 1px solid;
    border-radius: 5px;
}